<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Hadlows Jewellers Ltd</h1>
    <p>Hadlows Jewellers is a beautifull light and airy boutique that Melanie opened in July 2009. She has worked in South Kensington for 10 years and knows what her clients needs and expectations are and will allways go that extra mile to make them happy.</p>
  </div>
</div> <!-- /container -->
<div class="container">
  <div class="col-md-6 col-xs-12">
<h2>About Us</h2>
<p>
Hadlows Jewellers is a beautifull light and airy boutique that Melanie opened in July 2009. She has worked in South Kensington for 10 years and knows what her clients needs and expectations are and will allways go that extra mile to make them happy. She also repairs everything from jewellery to silverwear, watches, crystal and glass. Hadlows stocks a wide range of jewellery including 18ct, silver and antique pieces, Faberge eggs and is the only stockist in London of Okra glass. The jewellery is both classic and feminine and if you still cant find just what your looking for then Melanie is happy to create either a totally new bespoke piece or restyle a piece you allready own. Pop in to visit Melanie and pick up a unique piece of jewellery for yourself or as a perfect gift; she will help you find the right piece. And don't forget if you need something fixed, re-strung or need your watch repaired, this is your one-stop shop!</p>
<p>
Hadlows Jewellers is an independant retailers situated in South Kensington and is an aladins cave of sparkling wonders and delights.
We specialise in beautiful handcrafted unique jewellery supplied in the main by small family run firms with lots of one off pieces.
Not only can we make bespoke modern pieces but also help with remodelling old or inherited jewellery to make a more relevant item.
With workshops in the heart of Hatton Garden we can take advantage of dealing direct with stone and diamond suppliers giving you excellant value for money.
With services including pearl re-threading, repair and restoration work on jewellery, watch and clock repairs, glass and silverwear repair, valuation for insurance and probate, engraving on trophies, glass, leather and complex hand engraved seals we are a one stop shop for all your precious items.
Hadlows has a following of sophisticated and discerning clients who know that they will get the service they deserve as well as superb value.
</p>
<h2>Opening Hours</h2>
<table class="table">
  <tbody><tr datetime="Mo 11:00-18:00">
    <td class="day">Monday</td>
    <td>11:00</td>
    <td>-</td>
    <td>18:00</td>
  </tr>
  <tr datetime="Tu 09:30-18:00">
    <td class="day">Tuesday</td>
    <td>09:30</td>
    <td>-</td>
    <td>18:00</td>
  </tr>
  <tr datetime="We 09:30-18:00">
    <td class="day">Wednesday</td>
    <td>09:30</td>
    <td>-</td>
    <td>18:00</td>
  </tr>
  <tr datetime="Th 09:30-18:00">
    <td class="day">Thursday</td>
    <td>09:30</td>
    <td>-</td>
    <td>18:00</td>
  </tr>
  <tr datetime="Fr 09:30-18:00">
    <td class="day">Friday</td>
    <td>09:30</td>
    <td>-</td>
    <td>18:00</td>
  </tr>
  <tr datetime="Sa 09:30-17:00">
    <td class="day">Saturday</td>
    <td>09:30</td>
    <td>-</td>
    <td>17:00</td>
  </tr>
</tbody></table>
</div>
  <div class="col-md-6 col-xs-12">
<h2>Products and Services</h2>
<ul class="list-group">
  <li class="list-group-item">clocks &amp; watches - retail &amp; repairs</li>
  <li class="list-group-item">diamond specialists</li>
  <li class="list-group-item">engagement rings</li>
  <li class="list-group-item">engraving</li>
  <li class="list-group-item">gold</li>
  <li class="list-group-item">gold jewellery</li>
  <li class="list-group-item">jewellery repairs</li>
  <li class="list-group-item">jewellery supplies</li>
  <li class="list-group-item">silver jewellery</li>
  <li class="list-group-item">wedding rings</li>
  <li class="list-group-item">Crystal</li>
  <li class="list-group-item">Glass</li>
  <li class="list-group-item">18Ct Gold</li>
  <li class="list-group-item">Antique Pieces</li>
  <li class="list-group-item">Faberge Eggs</li>
  <li class="list-group-item">Bespoke Jewellery</li>
  <li class="list-group-item">Okra Glass</li>
  <li class="list-group-item">Gifts</li>
</ul>
</div>
</div><!-- end .container -->
<div class="container">
<div class="col-md-12 col-xs-12">
<h2>Where to find us</h2>
  <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2484.051004773952!2d-0.17593309999999998!3d51.4939315!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760542aa674b3b%3A0xa07954854003aee6!2s15+Glendower+Pl%2C+Kensington%2C+London+SW7+3DR!5e0!3m2!1sen!2suk!4v1410720495219" width="800" height="600" frameborder="0" style="border:0"></iframe>
  </div>
</div><!-- end .container -->
</div><!-- end .container -->
